* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-box {
    position: relative;
    background: url(./background-image.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main-box .sidebar-menu {
    position: fixed;
    height: 100vh;
    width: 280px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}


